---
permalink: latest.json
---
[
{%- for post in collections.posts | arrSlice(0, 3) %}
  {
    "title": "{{ post.data.title }}",
    "link": "{{ post.url | url | absoluteUrl(site.url) }}",
    "updated": "{{ post.date | jsonDate }}",
    "excerpt": "{% excerpt post %}"
  }{% if not loop.last %},{% endif %}{% endfor %}
]