<footer class="page-footer is-paper">
  <p>
    Made by
    <a href="https://twitter.com/Robbb_J">@robbb_j</a>
    and
    <a href="https://github.com/robb-j/r0b-blog">Open Source</a>
  </p>
</footer>
