<footer class="page-footer is-paper">
  <p>
    Made by
    <a href="{{ site.mastodon }}" rel="me">@rob@hyem.tech</a>
    and
    <a href="https://github.com/robb-j/r0b-blog">Open Source</a>
  </p>
</footer>
