<cluster-layout space="var(--s0)">
  <a href="/">
    <img src="/img/r0b.svg" alt="r0b" width="53" height="28" class="r0bBrand" />
  </a>
  
  <div style="flex: 1;"></div>
  
  <a class="navItem" href="https://r0b.io">Homepage</a>
</cluster-layout>
