<header>
  <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ '/' | url }}">
        <img src="{{ '/r0b/svg/r0b.svg' | url }}" alt="r0b" width="58" height="38">
      </a>
    </div>
  </nav>
</header>
