---
permalink: latest.json
---
[
{%- for post in collections.posts | isPublished | slice(0, 3) %}
  {
    "title": "{{ post.data.title }}",
    "link": "{{ post.url | url | absoluteUrl(site.url) }}",
    "date": "{{ post.date | jsonDate }}",
    "excerpt": "{{ post.data.summary | jsonString }}"
  }{% if not loop.last %},{% endif %}{% endfor %}
]
