<header>
  <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ '/' | url }}">
        <img src="{{'svg/r0b.svg' | r0bAsset | url}}" alt="r0b">
      </a>
    </div>
  </nav>
</header>