---
layout: html.njk
---

<header class="bigHeader">
  <cover-layout centered="center-layout" space="s0" minHeight="20vh">
    {% include 'nav.njk' %}
    
    <center-layout max="60ch" gutters="s0">
      <section class="a4Page flow">
        {{ content | safe }}
        
        <cluster-layout justify="flex-end" space="s-1">
          <a class="circleButton" data-accent="rss" href="/feed.xml">
            <icon-layout label="RSS Feed">
              <svg>
                <use xlink:href="/img/icons.svg#rss"></use>
              </svg>
            </icon-layout>
          </a>
          <a class="circleButton" data-accent="mastodon" href="{{ site.mastodon }}">
            <icon-layout label="Mastodon">
              <svg>
                <use xlink:href="/img/icons.svg#mastodon"></use>
              </svg>
            </icon-layout>
          </a>
          <a class="circleButton" data-accent="github" href="{{ site.github }}">
            <icon-layout label="GitHub">
              <svg>
                <use xlink:href="/img/icons.svg#github"></use>
              </svg>
            </icon-layout>
          </a>
        </cluster-layout>
      </section>
    </center-layout>
  </cover-layout>
</header>

<main class="homePage">
  <center-layout max="55em"  gutters="s0">
    <stack-layout space="s3">
      {% for post in collections.posts | newestFirst %}
      <article class="postSummary flow">
        <h2 class="title is-2">
          <a href="{{ post.url }}">
            <icon-layout>
              {% if post.data.draft %}[DRAFT]{% endif %}
              {{ post.data.title }}
              <svg>
                <use xlink:href="/img/icons.svg#right"></use>
              </svg>
            </icon-layout>
          </a>
        </h2>
        <time datetime="{{ post.date | isoDate }}">{{ post.date | longDate }}</time>
        <p>{{ post.data.summary }}</p>
      </article>
      {% endfor %}
    </stack-layout>
  </center-layout>
  
  {% include 'footer.njk' %}
</main>

