---
layout: html
---

{% include 'navbar.njk' %}

<main>
  <div class="page-block is-magenta has-slope-after">
    <section class="section">
      <div class="container">
        <div class="a4-page is-post-it">
          <div class="buttons">
            <a class="button is-text" href="{{ site.homeUrl }}">
              <span class="icon">
                {% include 'svg/home.svg' %}
              </span>
              <span>
                Homepage
              </span>
            </a>
          </div>
          <div class="content">{{ content | safe }}</div>
        </div>
      </div>
    </section>
  </div>

  <div class="page-block is-paper is-inbetween">
    <section class="section post-section">
      <div class="container">
        <p class="buttons is-right">
          <a
            class="button is-circle is-twitter"
            href="https://twitter.com/{{ site.twitter }}"
          >
            <svg>
              <use
                xlink:href="{{
                  '/r0b/fa/twitter-brands.svg' | url
                }}#twitter"
              ></use>
            </svg>
          </a>
          <a
            class="button is-circle is-github"
            href="https://github.com/robb-j"
          >
            <svg>
              <use
                xlink:href="{{
                  '/r0b/fa/github-brands.svg' | url
                }}#github"
              ></use>
            </svg>
          </a>
          <a class="button is-circle is-rss" href="{{ '/feed.xml' | url }}">
            {% include 'svg/rss.svg' %}
          </a>
        </p>

        {% for post in collections.posts | isPublished | newestFirst %}
        <article class="post-summary">
          <h2 class="title is-2">
            <a href="{{ post.url }}"> {{ post.data.title }}</a>
          </h2>
          <h3 class="subtitle is-4">{{ post.date | longDate }}</h3>
          <div class="is-size-4">{{ post.data.summary }}</div>
        </article>
        {% endfor %}
      </div>
    </section>
  </div>
</main>

{% include 'footer.njk' %}
