<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{ title + ' |' if title }} {{ site.title }}</title>
    <link rel="icon" href="/img/favicon.png" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/font/nunito/nunito.css" />
    <link rel="stylesheet" href="/font/patrick-hand/patrick-hand.css" />
    <link
      rel="alternate"
      href="/feed.xml"
      type="application/rss+xml"
      title="{{ site.title }}"
    />
    <meta
      property="og:title"
      content="{{ meta.title or title or site.title }}"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="{{ (meta.image or 'img/opengraph.webp') | fullUrl }}"
    />
    <meta property="og:url" content="{{ page.url | fullUrl }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@{{ site.twitter }}" />
    <meta property="og:description" content="{{ meta.summary or summary }}" />
    <meta name="theme-color" content="#387C85">
    <meta name="generator" content="Eleventy" />
    <!-- @openlab/alembic inject-css -->
  </head>
  <body>
    {{ content | safe }}
    <script src="https://cdn.usefathom.com/script.js" data-site="QJMTTJDF" defer></script>
    <script type="module" src="/js/app.js" defer></script>
  </body>
</html>
