<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{ title + ' |' if title }} {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/css/styles.css' | url }}" />
    <link rel="icon" href="{{ '/img/favicon.png' | url }}" />
    <link
      href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Patrick+Hand&display=swap"
      rel="stylesheet"
    />
    <link
      rel="alternate"
      href="{{ '/feed.xml' | url }}"
      type="application/rss+xml"
      title="{{ site.title }}"
    />
    <meta
      property="og:title"
      content="{{ meta.title or title or site.title }}"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="{{ (meta.image or 'img/opengraph.png') | fullUrl }}"
    />
    <meta property="og:url" content="{{ page.url | fullUrl }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@{{ site.twitter }}" />
    <meta property="og:description" content="{{ meta.summary or summary }}" />
    <meta name="generator" content="Eleventy" />
    <script src="https://cdn.usefathom.com/script.js" data-site="QJMTTJDF" defer></script>
    <script type="module" src="{{ '/js/app.js' | url }}" defer></script>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
