/* 
  Page block
  ~ from https://github.com/robb-j/r0b-home/blob/main/src/css/page.css
*/
.pageBlock {
  position: relative;
  color: var(--block-color);
  background-color: var(--block-background);
}
.pageBlock[data-accent='liberty'] {
  --block-color: var(--color-light);
  --block-background: var(--color-liberty);
}
.pageBlock[data-accent='magenta'] {
  --block-color: var(--color-light);
  --block-background: var(--color-magenta);
}
.pageBlock[data-accent='berry'] {
  --block-color: var(--color-light);
  --block-background: var(--color-berry);
}

.pageBlock:nth-child(even) {
  margin-block-start: -7vw;
  padding-block-start: 7vw;
  background-image: url(../img/paper.png);
  background-repeat: repeat;
}
.pageBlock:nth-child(even):not(:last-child) {
  margin-block-end: -7vw;
  padding-block-end: 7vw;
}

.pageBlock:nth-child(odd):not(:last-child) {
  margin-block-end: 7vw;
}
.pageBlock:nth-child(odd):not(:last-child)::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  bottom: -7vw;
  border-left: 100vw solid var(--block-background);
  border-bottom: 7vw solid transparent;
  border-top: 1px solid var(--block-background);
}

.pageBlock:nth-child(odd):not(:first-child) {
  margin-block-start: 7vw;
}
.pageBlock:nth-child(odd):not(:first-child)::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  top: -7vw;
  border-left: 100vw solid var(--block-background);
  border-top: 7vw solid transparent;
  border-bottom: 1px solid var(--block-background);
}
.pageBlock > center-layout {
  padding-block: var(--s3);
}
